<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <handlers>
      <!--<add name="CustomPageHandler"
           path="*.aspx"
           verb="*"
           type="Surrogates.Aspects.ForAspNet4.Test.CustomPageHandlerFactory" />-->

      <add name="SurrogatesWebHandler" path="*.aspx" verb="*" type="Surrogates.Aspects.ForAspNet4.SurrogatedWebFormFactory, Surrogates.Aspects.ForAspNet4" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <system.web>
    <httpHandlers>

      <remove verb="*" path="*.aspx" />
      <add verb="*" path="*.aspx" type="Surrogates.Aspects.ForAspNet4.SurrogatedWebFormFactory, Surrogates.Aspects.ForAspNet4" />
      <!--<add verb="*" path="*.aspx" type="Surrogates.Aspects.ForAspNet4.Test.CustomPageHandlerFactory" />-->

    </httpHandlers>
    
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>